.main-header {
    /* font-family: 'Orbitron', sans-serif; */
    background-color: #f39c12;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    margin-bottom: 30px;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-image {
    margin-right: 10px;
    height: 100px;
    border-radius: 50%;
}

.site-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    color: #000000;
}

.border-bottom {
    border-bottom: 3px solid #030303 !important;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #fbfbfa;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;

    /* background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; */
}



html, body {
    height: 100%;
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content {
    flex: 1;
    padding: 20px;
}


.footer {
    background-color: #1a1a2e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
