.main-header {
    font-family: 'Orbitron', sans-serif;
    background-color: #1B2028;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-image {
    margin-right: 10px;
    height: 100px;
    border-radius: 50%;
}

.site-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    color: #FF4654;
}

.border-bottom {
    border-bottom: 3px solid #030303 !important;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #FF4654;
    font-weight: bold;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #f39c12;
}
